@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
:root:has(.light) {
  --menue: "sss";
  --var_light_blue: #0ca5e9;
  --theme: #fff;
  --font_color: #000;
  --font_color2: #2c2c2c;
  --var_blue: #4070f4;
  --shade1: rgb(237 239 251);
  --shade2: rgb(228 235 245);
  --gradient_tint: linear-gradient(
    90deg,
    rgba(151, 105, 255, 1) 0%,
    rgba(116, 93, 255, 1) 100%
  );

  /* rgb(151 105 228) rgb(116 93 226) */
}
:root:has(.dark) {
  --menue: "sss";
  --var_light_blue: #0ca5e9;
  --theme: #000;
  --var_blue: #4070f4;
  --font_color: #ffffff;
  --font_color2: #d9d9d9;
  --shade1: rgb(22 22 22);
  --shade2: rgb(16 16 16);
  --gradient_tint: linear-gradient(
    90deg,
    rgba(203, 181, 255, 1) 0%,
    rgba(154, 138, 255, 1) 100%
  );

  /* rgb(151 105 228) rgb(116 93 226) */
}
/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

.slidershadow {
  width: 100%;
  margin-bottom: 50px;
  align-items: center;
  position: relative;
}
.slick-center .Services_card {
  opacity: 1;
  z-index: 6;
  scale: 1.3;
}
.Menu {
  position: relative;
}
.Menu:hover::before {
  content: attr(data-descr);
  font-size: 6em;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;

  position: absolute;
}

.outerbox {
  perspective: 1000px;
}
.innerflip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.commonflip {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.outerbox:hover .innerflip {
  transform: rotateY(180deg);
}

.stylishCard:hover .boxwithicon {
  width: 90%;
}
.boxwithicon::after {
  content: "";
  width: 30px;
  position: absolute;
  bottom: -30px;
  border-top-left-radius: 1rem;
  box-shadow: -10px -10px 2px 0px #0d1624;

  left: 4px;
  height: 30px;
  background: initial;
}

.boxwithicon::before {
  content: "";
  width: 20px;
  position: absolute;
  top: 4px;
  border-top-left-radius: 0.7rem;
  box-shadow: -10px -10px 2px 0px #0d1624;
  right: -20px;
  height: 20px;
  background: initial;
}

.title {
  position: relative;
  background: var(--gradient_tint);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title::after {
  content: "";
  width: 100px;
  position: absolute;
  background: var(--gradient_tint);
  height: 3px;
  border-radius: 10px;
  top: 50%;
  transform: translate(20%, -50%);
  left: 100%;
}

/* animation
 */
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: var(--font_color);
  overflow: hidden;
  background: var(--var_blue);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

/* button */

.custombutton {
  background: var(--font_color2) !important;
  font-family: inherit;
  padding: 1.5em 1.3em;
  font-weight: 700;

  font-size: 14px;
  border: 2px solid black;
  border-radius: 1em !important;
  cursor: pointer;
  transition: 0.2s;
}

.custombutton:hover {
  box-shadow: 0.15em 0.15em;
}

.custombutton:active {
  box-shadow: 0.05em 0.05em;
}

.hoverCards {
  background: var(--theme);
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid var(--font_color2);
  border-radius: 1em;
  cursor: pointer;
  transition: 0.2s;
}

.hoverCards img {
  mix-blend-mode: luminosity;
}
.hoverCards:hover {
  box-shadow: 0.15em 0.15em;
}
.hoverCards:hover .custombutton {
  background-color: #fbca1f !important;
  box-shadow: 0.15em 0.15em;
}

.custombutton:hover {
  background-color: #fbca1f;
  box-shadow: 0.15em 0.15em;
}
.hoverCards:hover img {
  mix-blend-mode: normal;
}

.skill-box {
  width: 100%;
  margin: 16px 0;
}

.skill-box .skill {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: var(--font_color2);
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: #fff;
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 6px;
  background: var(--gradient_tint);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per::after {
  position: absolute;
  border: 2px solid var(--var_light_blue);
  border-radius: 100%;
  box-shadow: 0 0 10px var(--theme);
  transform: translate(0%, -50%);
  content: "";
  width: 20px;
  top: 50%;
  height: 20px;
  right: 0;
  background-color: #fff;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: var(--var_blue);
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: var(--var_blue);
  transform: translateX(-50%) rotate(45deg);
}

.stepper {
  min-height: 80px;
  position: relative;
  height: fit-content;
}

.stepper::after {
  content: "";
  width: 2px;

  position: absolute;
  top: 0;
  left: -20px;
  top: 0;
  transform: translate(0%, 50%);

  height: 80px;
  background: var(--gradient_tint);
}

.stepper::before {
  content: "";
  width: 15px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  left: -26px;
  height: 15px;
  background: var(--gradient_tint);
}

.non-Line::after {
  display: none;
}
.inputCustom {
  animation: justshake 0.3s forwards;
  color: red !important;
}
input::placeholder,
textarea::placeholder {
  color: var(--font_color2);
}
input,
textarea {
  color: var(--font_color) !important;
}
@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX-(5px);
  }
}

.projectCard {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0 !important;
  border-radius: 15px;
  height: 100%;
  position: absolute;
  content: "";
  transition: 0.2s ease;
  background: #fff;
}

.projectCardMain .icon {
  transition: 0.2s ease;
  transform: rotate(-45deg);
}
.projectCardMain:hover .icon {
  transform: rotate(0deg);
  color: var(--var_light_blue);
  border-color: var(--var_light_blue);
}
.projectCardMain:hover img {
  scale: 1.3;
}
.projectCardMain:hover .projectCard {
  transform: rotate(5deg);
}

.slideInAnimation {
  animation: slideIn both 0.4s ease-in-out;
}
@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* test component  */

.scroll-body {
  background: #fff;
  width: 100%;
  height: 100dvh !important;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.wrapper-body {
  scroll-snap-align: start !important;
  scroll-snap-stop: always;
}

.circle-container {
  animation: circular 0.6s linear;
}
@keyframes circular {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  70% {
    transform: translate(-50%, -50%) rotate(300deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
